extends layouts/main.pug

block content

    section.page2

        .page2
            .page2__col1-1 

            .page2__col2-2 

            .page2__col3
                .page2__col3-1 
                .page2__col3-2 