extends layouts/main.pug

block content

    section.page1

        .page1
            .page1__col1    
                .page1__col1-1 1-1
                .page1__col1-2 1-2

            .page2__col2
                .page2__col2-1 2-1
                .page2__col2-2 2-2