extends layouts/main.pug

block content

    section.page3

        .page3

            .page3__col1 col1

            .page3__col2
                .page3__col2-1 2-1
                .page3__col2-2 2-2

            .page3__col3 col3