  
mixin nav(nav={})
    ul.page
        li.page__menu
              a(href="/") Page1
              
        li.page__menu 
            a(href="/page2") Page2

        li.page__menu
            a(href="/page3") Page3